@model IEnumerable<FoodFIghtAdmin.Models.MatchSession> 
 

@{
    ViewData["Title"] = "MatchSession Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>MatchSession Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                DateTime
            </th>
            <th>
                User Email
            </th>
            
            <th>
                Friend User Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ConnectedUser)
            </td>
            }
            
            
            <td>
                @Html.DisplayFor(modelItem => item.ConnectedUser.FriendUser.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MatchSessionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MatchSessionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MatchSessionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
